body {
  font-family: 'EB Garamond', serif;
  background: url(../images/Bora-Bora.jpg) no-repeat center center fixed;
  background-size: cover;
  width: 90%;
  margin: 0 auto;
}

.wrapper {
  display: grid;
  grid-template-columns: 30% 70%;
}

h1, h2, h3 {
  font-family: 'Yatra One', cursive;
}

textarea {
  vertical-align: top;
}
